<div class="sidebar" data-color="orange">
<div class="logo">
    <a href="index" class="simple-text logo-normal text-center">
        Eventify Dashboard
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <!-- Loop through menu items -->
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <!-- Check if it's the LOGOUT button, then call the logout method instead of using routerLink -->
            <a *ngIf="menuItem.title !== 'LOGOUT'; else logoutTemplate" [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{ menuItem.title }}</p>
            </a>
        </li>
        <!-- Template for the Logout button -->
        <ng-template #logoutTemplate>
          <a (click)="logout()">
              <i class="now-ui-icons arrows-1_share-66"></i>
              <p>LOGOUT</p>
          </a>
        </ng-template>
    </ul>
</div>
</div>