<div class="wrapper">
  <div class="sidebar" data-color="red">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">
    <div style="margin: 50px 0 150px 0;">
      <h1 class="text-center">WELCOME BACK, <span class="text-uppercase" style="font-weight: bold;">{{ username }}</span></h1>
    </div>

    <div class="main-content">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card card-chart" style="height: 100%; padding: 20px;">
            <div class="card-header">
              <h4 class="card-title text-primary text-center">Total Events</h4>
            </div>
            <div class="card-body text-center" style="font-size: 3rem;">
              <h1>{{ totalEvents }}</h1>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card card-chart" style="height: 100%; padding: 20px;">
            <div class="card-header">
              <h4 class="card-title text-primary text-center">Total Feedbacks</h4>
            </div>
            <div class="card-body text-center" style="font-size: 3rem;">
              <h1><!--{{ totalFeedbacks }}-->5</h1>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card card-chart" style="height: 100%; padding: 20px;">
            <div class="card-header">
              <h4 class="card-title text-primary text-center">Total Vendors</h4>
            </div>
            <div class="card-body text-center" style="font-size: 3rem;">
              <h1>{{ totalVendors }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
