<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">EVENTS</h1>
                <div class="text-center">
                  <h3>Explore allsdfgsdfsfs</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="search-bar">
          <input
            type="text"
            class="form-control"
            placeholder="Search events..."
            [(ngModel)]="searchQuery"
            (input)="filterEvents()"
          />
        </div>
        <div class="events-list">
          <div *ngFor="let event of filteredEvents" class="event-item">
            <h4>{{ event.eventName }}</h4>
            <p>{{ event.eventDescription }}</p>
            <p><strong>Start Date:</strong> {{ event.startDateTime | date }}</p>
            <p><strong>End Date:</strong> {{ event.endDateTime | date }}</p>
          </div>
        </div>
    </div>
</div>