:host {
  display: block;
}

.search-bar {
  margin: 20px;
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.event-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  width: calc(33.333% - 20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-item h4 {
  margin-top: 0;
}

.event-item {
  margin-bottom: 20px; /* Space between events */
}

.event-image {
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  max-height: 300px; /* Limit the height if needed */
  object-fit: cover; /* Cover the area without distortion */
}