.form-check {
  margin-top: .65rem;
}

.form-check .form-check-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  line-height: 26px;
  margin-bottom: 0;
  transition: color 0.3s linear;
}

.form-check .form-check-sign::before,
.form-check .form-check-sign::after {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0;
  cursor: pointer;
  border-radius: 3px;
  top: 0;
  background-color: transparent;
  border: 1px solid #ccc;
  transition: opacity 0.3s linear;
}

.form-check .form-check-sign::after {
  font-family: 'Nucleo Outline';
  content: "\ea22";
  text-align: center;
  font-size: 14px;
  opacity: 0;
  color: #fff;
  border: 0;
  background-color: inherit;
}

.form-check input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.form-check input[type="checkbox"]:checked + .form-check-sign::after {
  opacity: 1;
}

.form-check input[type="checkbox"]:checked + .form-check-sign::before {
  border: 2px solid orange; /* Add orange border when checked */
}
